!!! 5
html(ng-app)
  head
    title= title
    != stylesheetLinkTag('app/application', 'vendor/bootstrap', 'vendor/bootstrap-responsive')
    != javascriptIncludeTag('app/application', 'vendor/angular-min', 'vendor/jquery-min', 'vendor/bootstrap')
    != csrfMetaTag()
  body
    .navbar
        .navbar-inner
            .container
               a.brand(href='#') Eva Presentation

    .container
      - var flash = request.flash('info').pop(); if (flash) {
        .alert.alert-info= flash
      -   }

      - flash = request.flash('error').pop(); if (flash) {
        .alert.alert-error= flash
      - }

      != body

      hr
      footer
        p © 2012
  != contentFor('javascripts')
